<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https:/maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <div class="header-container">
            <header class="wrapper clearfix">
                    <h1 class="title"><b>Pravalika Kawali</b></h1>
	            <br>        
                <nav>
                    <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="yourchoice">Plan</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="guestbook">Guest Book</a></li>                                                        
                    </ul>
                </nav>
            </header>
        </div>
        
                <div style="text-align:right;">
                    
                        <a href="https://github.com/PravalikaKawali/S530936"><img alt="" src="github.jpg" class="img-circle" style ="float: center" repeat="no repeat" width="40px" height="40px"></a>
                        <a href="https://bitbucket.org/PravalikaKawali/s530936"><img alt="" src="bitbucket.png" class="img-circle" style ="float: center" repeat="no repeat" width="40px" height="40px"></a>
                        <a href="https://www.linkedin.com/in/kpravalika/"><img alt="" src="linkedin.png" class="img-circle" style ="float: center" repeat="no repeat" width="40px" height="40px"></a>
                   
                 
                </div>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

		<h1>
				Pravalika's Guestbook
				<a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
			</h1>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="js/main.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
